.movie-box-container {
    min-height: calc(100vh - 66px);
    padding: 0.5rem;
    gap: 20px;
    display: flex;
    /* align-items: start; */
    /* justify-content: space-between; */
    position: relative;
}

.box-container {
    width: 100%;
    /* height: 100%; */
}

.fetching-movie-box {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 1rem;
    background-color: #f8f8f8;
    color: #333333;
    border: 2px solid #6c5ce7;
    border-radius: 5px;
    overflow-y: auto;
}

.movie-card {
    margin-block: 20px;
    display: flex;
    align-items: center;
}

.movie-card:hover {
    background-color: #ffffff;
    border-color: #6c5ce7;
    cursor: pointer;
    transform: translateX(-4px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.movie-card.selected {
    background-color: #ffffff;
    border-color: #6c5ce7;
    cursor: pointer;
    transform: translateX(-4px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.movie-image {
    width: 80px;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-card:hover .movie-image {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-image.selected {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-details {
    flex: 1;
}

.movie-card:hover .movie-details {
    color: #6c5ce7;
}

.movie-details.selected {
    color: #6c5ce7;
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.movie-date {
    font-size: 14px;
    margin-bottom: 5px;
}

.movie-year {
    font-size: 12px;
    color: #777777;
}

.watching-movies-list {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 1rem;
    background-color: #ffffff;
    color: #333333;
    border: 2px solid #00b894;
    border-radius: 5px;
    overflow-y: auto;
}

.watching-movies-list .movie-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8; /* Light Gray */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.watching-movies-list .movie-image {
    width: 40px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.watching-movies-list .movie-details {
    flex: 1;
    margin-left: 20px;
}

.watching-movies-list .movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.watching-movies-list .movie-ratings {
    display: flex;
    align-items: center;
    gap: 10px;
}

.watching-movies-list .movie-rating-label {
    margin-right: 5px;
}

.watching-movies-list .movie-runtime {
    margin-top: 10px;
    font-size: 14px;
    color: #666666; /* Gray */
}

.watching-movies-list .delete-movie-btn{
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.added-message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.8;
    padding: 10px;
    background-color: #d2f5e3; /* Light Green */
    color: #2ecc71; /* Green */
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.movie-detail-box {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 1rem;
    background-color: #ffffff;
    color: #333333;
    border: 2px solid #00b894;
    border-radius: 5px;
    overflow-y: auto;
}

.movie-detail-box .movie-image {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-detail-box .movie-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.movie-detail-box .movie-emoji {
    font-size: 32px;
    margin-left: 10px;
}

.movie-detail-box .movie-info {
    display: flex;
    flex-wrap: wrap;
}

.movie-detail-box .movie-info .movie-emoji {
    font-size: 16px;
    margin-left: 10px;
}

.movie-detail-box .movie-info-item {
    flex: 1;
    min-width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.movie-detail-box .movie-info-label {
    font-weight: bold;
}

.movie-detail-box .movie-user-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-detail-box .movie-rating-label {
    margin-right: 10px;
}

.add-to-list-button {
    padding: 12px 20px;
    background-color: #6c5ce7;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add-to-list-button:hover {
    background-color: #8e44ad;
}

.movie-detail-box .movie-plot {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
}
