* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    color: #333333;
    font-family: Arial, sans-serif;
}

body,
#root {
    min-height: 100vh;
    overflow-x: hidden;
}

.open-btn,
.close-btn {
    display: none;
}

@media screen and (max-width: 849px) {
    .box-container:last-child {
        position: absolute;
        right: -100%;
        z-index: 5;
        transition: right 0.3s;
    }

    .open-btn,
    .close-btn {
        padding: 5px;
        font-size: 20px;
        background-color: #fff;
        border: 1px solid #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        cursor: pointer;
    }

    .open-btn{
        border-radius: 50% 5px 50% 50%;
        top: 63px;
        right: 10px;
    }

    .close-btn {
        border-radius: 5px 50% 50% 50%;
        top: 0;
        left: 0px;
    }

    .movie-detail-box .movie-rating-label{
        width: 15px;
        height: 15px;
    }
}
